*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/background.jpg);
    color: white;
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(0, 0, 0, 0.500);
}
.title{
    font-size: calc(10px + 3vw);
}
.title p{
    font-size: calc(10px + 1vw);
}
.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px white;
}
.button{
    background: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
    background: rgba(255, 255, 255, 0.5);
    color: black;
}